<h2 class="center">Articles</h2>
<h6 class="center">Here are the following saved articles.</h6>


        <% @articles.each do |article| %>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="well well-lg">
                        <div class="article-title">
                            <%= link_to article.title, article_path(article) %>
                        </div>
                        <div class="article-body">
                            <%= truncate(article.description, length: 100) %>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- Future link insetion through partial-->
                <%# render "article_actions" %>

            
        <%end%>
        <div class="articles_index_links center">
        <%= link_to "Create New Article", new_article_path, class: "btn btn-primary" %>
        <%= link_to "Cancel", "javascript:history.back()", class: "btn btn-danger" %>
        </div>

                

        
