$navbar-default-bg: #4286f4;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    color: #ffffff;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
}

#logo:hover {
    color: fff;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.jumbotron {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
    background: #d0e4f7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea', GradientType=0);
    /* IE6-9 */
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

}

.article_space {
    border: 1px solid black;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.footer {
    margin-top: 50px;
    border-top: 1px solid #A9A9A9;
}

.footer ul a {
    float: right;
}

.article-actions {


    padding-top: 5px;

}

.description {

    margin-top: 0;

}

.article-title {
    font-weight: bold;
    font-size: 1.5em;

}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
