$navbar-default-bg: #4286f4;



@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    color: #ffffff;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
}

#logo:hover {
    color: fff;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
